{% load static %}

<div id="contact">
    <div class="container">
        <h2 class="text-center">Contact</h2>
        <hr>

        <div class="row">
            <div class="col-md-6">
                <ul style="list-style-type: none">
                    <li>
                        <img src="{% static 'interactive_resume/icons/gmail.svg' %}" />
                        <span><a href="mailto:contact@kennethwalker.app" target="_blank">contact@kennethwalker.app</a></span>
                    </li>
                    <!-- <li>
                        <img src="{% static 'interactive_resume/icons/linkedin.svg' %}" />
                        <span></span>
                    </li> -->
                </ul>
            </div>
            <div class="col-md-6">
                <ul style="list-style-type: none">
                    <li>
                        <img src="{% static 'interactive_resume/icons/github.svg' %}" />
                        <span><a href="https://github.com/cyphix" target="_blank" rel="noopener noreferrer">https://github.com/cyphix</a></span>
                    </li>
                </ul>
            </div>
        </div>

        <div id="copyright">
            Copyright © 2020 Kenneth Walker.
        </div>
    </div>
</div>
